In [1]:
import pandas as pd

In [3]:
## lab-3 p1
list = [2.2,9.8,54,65,87]
p=pd.Series(list)
p

0     2.2
1     9.8
2    54.0
3    65.0
4    87.0
dtype: float64

In [12]:
## lab-3 p2
p[2]

54.0

In [15]:
## lab-3 p3
add=p[0]+p[1]+p[2]
print(add)
sub=p[1]-p[0]
print(sub)
mul=p[0]*p[1]*p[2]
print(mul)
div=p[3]/p[2]
print(div)

print(p*3)

66.0
7.6000000000000005
1164.2400000000002
1.2037037037037037
0      6.6
1     29.4
2    162.0
3    195.0
4    261.0
dtype: float64

In [16]:
## lab-3 p5
s1=pd.Series([1000,2000,3000],index=['cus1','cus2','cus3'])
print(s1)

cus1    1000
cus2    2000
cus3    3000
dtype: int64

In [18]:
## lab-3 p6
s2=pd.Series([1000,2000,3000],index=['cus1','cus2','cus3'],dtype=float)
print(s2)

cus1    1000.0
cus2    2000.0
cus3    3000.0
dtype: float64

In [20]:
print(s2.loc["cus1"])
print(s2.loc["cus2"])
print(s2.loc["cus3"])

1000.0
2000.0
3000.0

In [22]:
run=[30,50,20,60]
player=["v.kholi","r.sharma","k.gayle","k.polard"]
s3 = pd.Series(run,player);
s3

v.kholi     30
r.sharma    50
k.gayle     20
k.polard    60
dtype: int64

In [25]:
import pandas as pd
date =  pd.to_datetime("16 jun 2025")
x = date + pd.to_timedelta([0,1,2,3,4],unit="D")
z1 = pd.Series([22,65,789,46,54],index=x)
z1

date =  pd.to_datetime("16 jun 2025")
x = date -pd.to_timedelta([0,1,2,3,4],unit="D")
z2= pd.Series([22,65,789,46,54],index=x)
z2

2025-06-16     22
2025-06-15     65
2025-06-14    789
2025-06-13     46
2025-06-12     54
dtype: int64